* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  /* border: solid green 5px; */
  padding: 0;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  transition-duration: 0.4s;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.625rem + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
