* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Nav {
  margin-bottom: 2px;
  margin-left: 9em;
  padding-top: 10px;
  display: flex;
  gap: 30px;
}
.Navbar {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  border: blanchedalmond;
  height: 70px;
}
.NavIm {
  width: 70px;
  height: 40px;
}
.styleText {
  font-size: 20px;
  color: black;
  text-decoration: none;
  padding: 0.6em;
  margin-left: 0.4em;
}
.styleText:hover {
  color: #d82171;
}
.styleLogOut {
  margin-left: 60%;
}
.logoText {
  font-size: 2rem;
  color: #d82171;
  text-decoration: none;
  margin-left: 0.2em;
  font-weight: 900;
  font-style: italic;
}
.logoText:hover {
  color: black;
}
