* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.AllPage{
  display: grid;
  grid-template-columns: 5% 80% 5%;
  grid-gap: 50px;
  margin-top: 2em;
}

.midPageDiv{
    display: grid;
  grid-template-rows: 50% 50%;
  grid-gap: 50px;
}

.secondColumn{
    display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 50px;
}

.styleTitleP{
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.styleTypeP{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 1em;
}

.buttonR {
    background: url('http://imgur.com/I0EwG.png') transparent;
    height: 48px;
    width: 45px;
    border: none;
    margin-bottom: 1em;
}

.rating{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1em;
}

/* .NumberRating{
    font-size: ;
} */