body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column1 {
  float: left;
  width: 25%;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
}

.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0.5rem;
  width: 16.875rem;
}

.about-section {
  padding: 1.25rem;
  text-align: center;
  background-color: #474e5d;
  color: white;
  margin-bottom: 0.75rem;
}
.aboutUs {
  display: flex;
  justify-content: center;
  width: 100%;
  align-content: center;
}
.container1 {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  gap: 1.1875rem;
  padding-top: 1.25rem;
  padding-bottom: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.125rem 1rem;
  margin: 0.625rem;
}

.container::after,
.row1::after {
  content: "";
  clear: both;
  display: table;
}

.row1 {
  height: 0.625rem;
}
.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 13.6875rem;
  margin-bottom: 1rem;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 40.625rem) {
  .column1 {
    width: 100%;
    display: block;
  }
}
