body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column1 {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  width: 270px;
}

.about-section {
  padding: 20px;
  text-align: center;
  background-color: #474e5d;
  color: white;
  margin-bottom: 12px;
}
.aboutUs {
  display: flex;
  justify-content: center;
  width: 100%;
  align-content: center;
}
.container1 {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  gap: 19px;
  padding-top: 20px;
  padding-bottom: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 16px;
  margin: 10px;
}

.container::after,
.row1::after {
  content: "";
  clear: both;
  display: table;
}

.row1 {
  height: 10px;
}
.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 219px;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column1 {
    width: 100%;
    display: block;
  }
}
