.copyRight{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
}

.borderCopyRight{
    margin-top: 1em;
    border-color: rgb(206, 206, 206);
    background-color: rgb(206, 206, 206);
    padding: 1em;
}