* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.copyRight {
  font-size: 1.25rem;
}

.borderCopyRight {
  margin-top: -0.25rem;
  color: white;
  border-color: #161e2c;
  background-color: #161e2c;
  padding: 1em;
}
