* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.375rem;
}

.Profile {
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  height: 50%;
  border-radius: 1.5625rem;
  background-color: rgba(243, 241, 237,0.95);
}
.All {
  width: 100%;
  height: 100%;
}

input[type="text"],
input[type="number"],
input[type="password"] {
  padding: 0.75rem 1.25rem;
  margin: 0.5rem 0;
  border: 0.0625rem solid #ccc;
  box-sizing: border-box;
  width: 1.875rem;
}

.label1 {
  padding: 0.75rem 1.25rem;
  margin: 0.9375rem 0.9375rem;
  width: 9.375rem;
  text-align: left;
  margin-right: 10%;
  font-weight: bold;
}

.label2 {
  margin: 0.125rem;
  width: 9.375rem;
  text-align: left;
  margin-right: 2.7em;
  font-weight: bold;
}
/* button {
  width: 100%;
  background-color: #0b0c0c;
  text-align: center;
  color: rgb(273, 249, 249);
  cursor: pointer;
  padding: 8px 0px;
  margin: 8px 0;
  border-radius: 5px;
  font-size: 19px;
} */

.button1 {
  background-color: #359956; /* Green */
  width: 100%;
  border: none;
  color: white;
  padding: 0.9375rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.25rem 0.125rem;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
}

.delete {
  background-color: #d80a0a;
  width: 25%;
  margin-bottom: 1.5em;
}

.cancel {
  background-color: #0b0c0c;
  width: 25%;
  margin-bottom: 1.5em;
}

.save {
  background-color: #3b89f0;
  width: 25%;
  margin-bottom: 1.5em;
}

/* .hrStyle {
  width: 300px;
  height: 2px;
  margin-left: 7.5em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  background-color: #080808;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 17px 5px rgba(0,0,0,0.38); 
} */

.EditProfile {
  display: grid;
  width: 50%;
  grid-template-columns: auto auto;
  grid-gap: 0.3125rem;
  /* margin-bottom: 2em; */
  justify-content: center;
  justify-items: center;
  margin-left: 7.6em;
}

.img1 {

  border-radius: 50%;
  margin-top: 5%;
  width: 10.625rem;
  height: 10.625rem;
}

.toast {
  margin-top: 3.125rem;
  background: rgba(256, 256, 256, 0.95);
  color: #2f6571;
  text-align: center;
  border-radius: 0.3125rem;
}

.card {
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 30%;
  height: 25%;
  border-radius: 5%;
  background-color: rgba(243, 241, 237,0.75);
}

.card:hover {
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.container {
  /* padding-top: 20px; */
  padding-bottom: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.125rem 1rem;
  margin: 1.25rem;
}

.allInformatiom {
  margin-left: 4.5em;
}

.nameProfile {
  margin-top: 0.5em;
}

.styleInput {
  width: 18.75rem;
  height: 2.5rem;
  margin: 0.5rem;
}
