* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Profile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  height: 50%;


  border-radius: 25px;

}
.All {
  width: 100%;
  height: 100%;
}

input[type="text"],
input[type="number"],
input[type="password"] {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 300px;
}

.label1 {
  padding: 12px 20px;
  margin: 15px 15px;
  width: 150px;
  text-align: left;
  margin-right: 10%;
  font-weight: bold;
}

.label2 {
  margin: 2px;
  width: 150px;
  text-align: left;
  margin-right: 2.7em;
  font-weight: bold;
}
/* button {
  width: 100%;
  background-color: #0b0c0c;
  text-align: center;
  color: rgb(273, 249, 249);
  cursor: pointer;
  padding: 8px 0px;
  margin: 8px 0;
  border-radius: 5px;
  font-size: 19px;
} */



.button1 {
  background-color: #359956;/* Green */

  width: 100%;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.delete {
  background-color: #d80a0a;
  width: 25%;
  margin-bottom: 1.5em;
}

.cancel {
  background-color: #0b0c0c;
  width: 25%;
  margin-bottom: 1.5em;
}

.save {
  background-color: #3b89f0;
  width: 25%;
  margin-bottom: 1.5em;
}

.hrStyle {
  width: 300px;
  height: 2px;
  margin-left: 7.5em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  background-color: #080808;
  /* box-shadow: 0px 10px 13px -7px #000000, 5px 5px 17px 5px rgba(0,0,0,0.38); */
}

.EditProfile {
  display: grid;
  width: 50%;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  /* margin-bottom: 2em; */
  justify-content: center;
  justify-items: center;
  margin-left: 7.6em;
}



.img1 {
  

  width: 200px;
  height: 200px;
}

.toast {
  background: #d1e7dd;
  color: #2f6571;
  text-align: center;
  border-radius: 5px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 30%;
  height: 25%;
  border-radius: 5%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  /* padding-top: 20px; */
  padding-bottom: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 16px;
  margin: 20px;
}



.allInformatiom{
  margin-left: 4.5em;
}

.nameProfile{
  margin-top: 0.5em;
}

.styleInput{
  width: 200px;
  height: 40px;
  margin: 8px;
}

