.sizaText {
  font-size: 3.125rem;
  color: white;
  width: 31.25rem;
  margin-top: 10.875rem;
  text-align: left;
  margin-left: 3em;
  font-weight: bold;
}

.paragraph {
  font-size: 1.25rem;
  color: white;
  width: 34.0625rem;
  text-align: left;
  margin-left: 9.6875rem;
  margin-top: 1em;
  margin-bottom: 2em;
}

.buttonPageOne {
  margin-bottom: 5.5em;
  margin-left: 9.5rem;
  width: 12.5rem;
  padding: 0.5em;
  background-color: #d82171;
  border-color: #d82171;
  border-width: 0.1875rem;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  height: 3.75rem;
  cursor: pointer;
}

.buttonPageOne:hover {
  transition-duration: 1s;
}

.buttonPagetWO {
  margin-bottom: 5.5em;
  margin-left: 4.3em;
  width: 12.5rem;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0);
  border-color: white;
  border-width: 0.1875rem;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  height: 3.75rem;
  cursor: pointer;
}
.buttonPagetWO:hover {
  background-color: black;
  transition-duration: 1s;
}

.videoText {
  text-align: left;
}
